body{
    background-image: url('../img/fondo.jpg');
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-position: 0px -10.086px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imagenes{
    width: 100px;
    box-shadow: 3px 3px 5px 3px rgb(15, 15, 15);
}
/*
td {
    color: #ffd700;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

th, td {
    border: 1px solid #000;
}
*/
table {
    width: 100%;
    border: 1px solid #000;
    font-family: 'Architects Daughter', cursive;
}

tr:nth-child(even){
    background-color: #b9b9b9;
}

tr:nth-child(odd) {
    background-color: grey;
}

tr:hover {
    background-color: yellow;
    color: gold;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  color: rgb(248, 248, 245);
}

 th, td {
    width: 2%;
    text-align: center;
    border: 1px solid #000;
}

.btn-botones {
    color: #f7f4f8;
    background-color: #000000;
    padding: 10px 10px;
    border: 2px solid #080808;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: Arial;
    font-weight: 200;
}
   
.btn-botones:hover {
    transition: 0.3s;
    background-color: #ffd700;
    margin-top: -20px;
    color: #fff;
    animation-name: button_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
   
.btn-botones:active {
    transform: scale(0.97);
}
   
@keyframes button_animation {
    0% {
     background-color: #ffd700;
    }
   
    25% {
     background-color: #000000;
    }
   
    50% {
     background-color: #ffd700;
    }
   
    75% {
     background-color: #000000;
    }
   
    100% {
     background-color: #ffd700;
    }
}

.btn-borrar {
    color: #f7f4f8;
    background-color: #cf1d1d;
    padding: 10px 10px;
    border: 2px solid #080808;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 10px;
    font-family: Arial;
    font-weight: 200;
    margin: 50px;
}

#img{
    width: 40%;
}

.contenedor-form {
    width:100vh;
    max-width:500px;
    height:45vh;
    position:relative;
    box-shadow:
        2.4px 3.8px 3.6px rgba(0, 0, 0, 0.073),
        6.6px 10.5px 10px rgba(0, 0, 0, 0.089),
        16px 25.3px 24.1px rgba(0, 0, 0, 0.096),
        53px 84px 80px rgba(0, 0, 0, 0.1);
}

.padding-form{
    padding-top: 50px;
}

.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form button{
    padding: .5em 1em;
    border:none;
    cursor: pointer;
}
  
.form-container{
    max-width:700px;
    margin: 0 auto;
}
  
.form-element {
    display: block;
    width: 80%;
    margin: 1rem auto;
}

/* Media-queries */
/* XS */
@media (min-width: 300px) {
    #botones{
        margin-top: 200px;
    }
}
/* SM */
@media (min-width: 576px) {
    #botones{
        margin-top: 200px;
    }
}
/* MD */
@media (min-width: 768px) { 
    #botones{
        margin-top: 20px;
    }
}
/* LG */
@media (min-width: 992px) { 
    #botones{
        margin-top: 20px;
    }
}
/* XL */
@media (min-width: 1200px) {
    #botones{
        margin-top: 20px;
    }
}